<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <minimumEventLevel>WARN</minimumEventLevel>
        <minimumBreadcrumbLevel>DEBUG</minimumBreadcrumbLevel>
    </appender>

    <logger name="io.ktor.server.plugins.cors.CORS" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="Sentry"/>
    </root>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.asynchttpclient.netty" level="WARN"/>
</configuration>
