[Desktop Entry]
Name=NEWM Admin
Comment=NEWM Administration Tool
Exec=newm-admin
Icon=io.newm.newm-admin
Type=Application
Categories=Utility;Development;
Terminal=false
StartupWMClass=io.newm.newm-admin
