# We may start running these on docker in the future,
# but I wanted to put something in place in the meantime
name: ktlint
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '21'
      - run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.4.0/ktlint && chmod a+x ktlint && sudo mv ktlint /usr/local/bin/
      - name: run ktlint
        run: |
          ktlint --reporter=checkstyle,output=build/ktlint-report.xml '**/*.kt*' '!**/generated/**'
        continue-on-error: true
      - uses: yutailang0119/action-ktlint@v2
        with:
          report-path: build/*.xml
        continue-on-error: false
