# We may start running these on docker in the future,
# but I wanted to put something in place in the meantime
name: test
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: run tests
        run: ./gradlew test -PisGithubActions